<div> 
   <app-navbar></app-navbar>
</div>
<br>

<div class="container">
  <h2 id="greeting">Welcome, <b>{{client?.name}}</b></h2>
  <div class="row">
    <div class="col-sm-8"> 
      <app-place-order></app-place-order>
    </div>
    <div class="col-sm-4">
      <app-balance></app-balance>
    </div>
  </div>
  <div id="trade-history" class="row">
    <div class="col-sm-8">
      <h3>Your Trade History</h3>
      <trade-history></trade-history>
    </div>
    <div class="col-sm-4">
      <app-market-data></app-market-data>
    </div>
  </div>
</div>
