<div>
    <nav class="navbar navbar-dark bg-dark  flex-column flex-sm-row">
        <a class="navbar-brand" href="#">
            <img src="https://i.pinimg.com/736x/e6/2f/af/e62faf9ff0261febeb861f6abec26c99.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            Zeven
          </a>
<!--         <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link justify-content-left active" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="admin/login">Admin</a>
            </li>
          </ul>
        </div> -->
        <a class="nav-link justify-content-left active" href="home"> Home</a>
        <a class="nav-link" href="portfolio">Portfolio</a>
        <a class="nav-link" href="admin/login">Admin</a>
        <a class="nav-link justify-content-end" href="logout">Log out</a>
      </nav>
</div>
<!-- <div>
    <app-balance></app-balance>
</div> -->


