<div class="card " style="width: 18rem;">
    <div class="mt-3">
        <h3 class="exchange-title">Exchange 1</h3>
        <ul class="list-group">
            <h6 *ngIf="errorLoadingOne">Could not retrieve from Exchange 1</h6>
            <li class="list-group-item" *ngFor="let item of ex1">{{item.TICKER}}, {{item.BID_PRICE}}</li>
        </ul>  
    </div>  

    <div class="mt-3">
        <h3 class="exchange-title">Exchange 2</h3>
        <ul class="list-group">
            <h6 style="padding: 1rem;" *ngIf="errorLoadingTwo">Could not retrieve data from Exchange 2</h6>
            <li class="list-group-item" *ngFor="let item of ex2">{{item.TICKER}}, {{item.BID_PRICE}}</li>
        </ul>
    </div>
</div>