.form-group{
    padding-left: 0.rem;
    margin-top: 1rem;
}

#place-order {
    padding: 0.8rem !important;
    background-color: #004aad;
    color: white;
}

#place-order:hover {
    background-color: white;
    color: #004aad;
    border-color: #004aad;
}