<div class="place-order">
    <h1>Welcome back, Kalyssa.</h1>
    <div class="form-group">
        <form #form="ngForm" (ngSubmit)="submitOrder(form)">
            <div class="form-group row">
              <label for="product" class="form-label">Product</label>
              <div class="col-sm-4">
                <input name="product" type="text" class="form-control" ngModel/>
              </div>
            </div>

            <div class="form-group row">
              <label for="price" class="form-label">Price</label>
              <div class="col-sm-4">
                <input name="price" type="number" class="form-control" ngModel/>
              </div>
            </div>

            <div class="form-group row">
              <label for="quantity" class="form-label">Quantity</label>
              <div class="col-sm-4">
                <input name="quantity" type="text" class="form-control" ngModel/>
              </div>
            </div>

            <div class="form-group row">
              <label for="side" class="form-label">Side:</label>
              <div class="col-sm-4">
                <select class="form-control" name="side" ngModel>
                    <option>BUY</option>
                    <option>SELL</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="portfolio" class="form-label">Portfolio:</label>
              <div class="col-sm-4">
                <select class="form-control" name="portfolio" ngModel>
                    <option>Portfolio A</option>
                </select>
              </div>
            </div>
            <div>
                <button class="btn btn-primary">Place Order</button>
            </div>
            
        </form>
    </div>
  </div>
  