<div class="place-order">
    <h1>Welcome back, Kalyssa.</h1>
    <div class="form-group">
        <form (ngSubmit)="submitOrder()">
            <div class="form-group row">
              <label class="form-label">Product</label>
              <div class="col-sm-4">
                <input type="text" class="form-control"/>
              </div>
            </div>

            <div class="form-group row">
              <label class="form-label">Price</label>
              <div class="col-sm-4">
                <input type="number" class="form-control"/>
              </div>
            </div>

            <div class="form-group row">
              <label class="form-label">Quantity</label>
              <div class="col-sm-4">
                <input type="text" class="form-control"/>
              </div>
            </div>

            <div class="form-group row">
              <label class="form-label">Side:</label>
              <div class="col-sm-4">
                <select class="form-control" id="side-select">
                    <option>BUY</option>
                    <option>SELL</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="form-label">Portfolio:</label>
              <div class="col-sm-4">
                <select class="form-control" id="side-select">
                    <option>Portfolio A</option>
                </select>
              </div>
            </div>
            <div>
                <button class="btn btn-primary">Place Order</button>
            </div>
            
        </form>
    </div>
  </div>
  