<div id="trade-history">
  <div>
    <app-admin-navbar></app-admin-navbar>
  </div>
    <form>
      <div class="form-group form-inline">
        <form #clientTradeForm="ngForm" (ngSubmit)="getClientByEmail(clientTradeForm)">
          <label>Search Client trades: </label><input ngModel class="form-control ml-2" type="email" name="client" id="client" placeholder="Enter Client Email"/> <input type="submit" [disabled]="clientTradeForm.invalid" name="Search" value="Search">
        </form>

      </div>
    </form>

  <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Portfolio</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <!-- <th scope="col">Total Value</th> -->
        <th scope="col">Side</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tr *ngFor="let trade of clientorders">
        <td>{{trade.clientOrderId}}</td>
        <td>{{trade.portfolioId}}</td>
        <td>{{trade.product}}</td>
        <td>{{trade.quantity}}</td>
        <td>{{trade.side}}</td>
        <td>{{trade.status}}</td>
      </tr>

    </table>
  </div>
  </div>
